h1 {
 font-family: 'Open Sans', sans-serif;
}

h2 {
 font-family:'Pathway Gothic One', sans-serif; 
 word-spacing: 1.5em;
}

h3 {
 background-color: rgba(229,245,252,0.6);
 line-height: 1.5em;
}

li {
 color: darkslategray;
}

p {
 color: darkslategray;
 font-family: 'Open Sans', sans-serif;
}
