
h1 {
 font-family:'Source Sans Pro', sans-serif;
 font-weight: "Black";
 font-size: 40px;
 margin= 0;
}

h2 {
 font-family:'Pathway Gothic One', sans-serif; 
 word-spacing: 1.5em;
}

h3 {
 background-color: rgba(229,245,252,0.6);
 font-family: 'Source Sans Pro', sans-serif;
}

h4 {
font-family: 'Source Sans Pro', sans-serif;
}

li {
 font-family: 'Source Sans Pro', sans-serif;
 color: darkslategray;
}

p {
 color: darkslategray;
 font-family:'Source Sans Pro', sans-serif;
 margin: 0; 
}

.breaking {
 text-align: center;
}
